In [1]:
import pandas as pd
from os import path, environ, makedirs
import requests as re
from io import BytesIO
from dotenv import load_dotenv
from unidecode import unidecode
import numpy as np

In [2]:
load_dotenv()

True

# Carregando os dados extraídos no notebook anterior

Neste notebook, vamos utilizar os dados extraídos e salvos pelo notebook `05 ObservaSampa - extração.ipynb`.

Primeiro, vamos carregar os dados de subprefeituras que serão utilizados no Qlik Sense.

In [3]:
output_dir = path.join('dados', 'urbanismo')
if not path.exists(output_dir):
    makedirs(output_dir)

In [4]:
indicador_domicilios_nao_ocupados_df = pd.read_csv(path.join(output_dir, 'indicador_domicilios_nao_ocupados.csv'),
                        sep=';', decimal=',', encoding='utf8', dtype=str)

In [5]:
indicador_domicilios_nao_ocupados_df.dtypes

cd_subprefeitura                        object
nm_subprefeitura                        object
domicilios_particulares_nao_ocupados    object
total_domicilios_particulares           object
domicilios_particulares_ocupados        object
dtype: object

## Indicador domicilios não ocupados (censo 2022)

In [6]:
df = indicador_domicilios_nao_ocupados_df.copy()

In [7]:
df["cd_subprefeitura"] = df["cd_subprefeitura"].astype(str).str.zfill(2)
df["nm_subprefeitura"] = df["nm_subprefeitura"].astype(str).str.strip()

In [8]:
num_cols = [
    "domicilios_particulares_nao_ocupados",
    "total_domicilios_particulares",
    "domicilios_particulares_ocupados",
]
for c in num_cols:
    df[c] = pd.to_numeric(df[c], errors="coerce")

df["tx_nao_ocupados_pct"] = (
    np.where(df["total_domicilios_particulares"].gt(0),
             df["domicilios_particulares_nao_ocupados"] / df["total_domicilios_particulares"] * 100,
             np.nan)
)

In [9]:
cols_final = [
    "cd_subprefeitura",
    "nm_subprefeitura",
    "domicilios_particulares_nao_ocupados",
    "domicilios_particulares_ocupados",
    "total_domicilios_particulares",
    "tx_nao_ocupados_pct",
]

In [10]:
df = df[cols_final].sort_values(["cd_subprefeitura"]).reset_index(drop=True)

In [11]:
df_long = df[["cd_subprefeitura", "nm_subprefeitura", "domicilios_particulares_nao_ocupados"]].rename(
    columns={"domicilios_particulares_nao_ocupados": "valor"}
)

In [12]:
df_long["id_observa"] = 999 
df_long = df_long[["id_observa", "cd_subprefeitura", "nm_subprefeitura", "valor"]]

In [13]:
df_domicilios_nao_ocupados_tratado = df
df_domicilios_nao_ocupados_long = df_long

In [14]:
df

,cd_subprefeitura,nm_subprefeitura,domicilios_particulares_nao_ocupados,domicilios_particulares_ocupados,total_domicilios_particulares,tx_nao_ocupados_pct
0,01,PERUS,7826,56874,64700,12.095827
1,02,PIRITUBA-JARAGUA,25143,175623,200766,12.523535
2,03,FREGUESIA-BRASILANDIA,19562,138060,157622,12.410704
3,04,CASA VERDE-CACHOEIRINHA,16151,113822,129973,12.426427
4,05,SANTANA-TUCURUVI,22676,125151,147827,15.339552
5,06,JACANA-TREMEMBE,13860,99015,112875,12.279070
6,07,VILA MARIA-VILA GUILHERME,15956,104177,120133,13.281946
7,08,LAPA,21194,141589,162783,13.019787
8,09,SE,54320,202905,257225,21.117699
9,10,BUTANTA,25508,178454,203962,12.506251
10,11,PINHEIROS,33998,134898,168896,20.129547
11,12,VILA MARIANA,30842,151128,181970,16.948948
12,13,IPIRANGA,29555,184142,213697,13.830330
13,14,SANTO AMARO,17893,110209,128102,13.967776
14,15,JABAQUARA,13359,82880,96239,13.881067
15,16,CIDADE ADEMAR,19191,148495,167686,11.444605
16,17,CAMPO LIMPO,29544,252814,282358,10.463313
17,18,M BOI MIRIM,26885,204517,231402,11.618309
18,19,CAPELA DO SOCORRO,29704,212990,242694,12.239281
19,20,PARELHEIROS,12983,55183,68166,19.046152
20,21,PENHA,28576,175877,204453,13.976806
21,22,ERMELINO MATARAZZO,9164,72585,81749,11.209923
22,23,SAO MIGUEL,13826,119749,133575,10.350739
23,24,ITAIM PAULISTA,13171,119787,132958,9.906136
24,25,MOOCA,31094,150289,181383,17.142731
25,26,ARICANDUVA-FORMOSA-CARRAO,16255,99502,115757,14.042347
26,27,ITAQUERA,26479,195300,221779,11.939363
27,28,GUAIANASES,12208,94770,106978,11.411692
28,29,VILA PRUDENTE,14679,95227,109906,13.355959
29,30,SAO MATEUS,24863,158087,182950,13.590052
30,31,CIDADE TIRADENTES,8507,67533,76040,11.187533
31,32,SAPOPEMBA,10854,94704,105558,10.282499

In [15]:
df_long

    id_observa cd_subprefeitura           nm_subprefeitura  valor
0          999               01                      PERUS   7826
1          999               02           PIRITUBA-JARAGUA  25143
2          999               03      FREGUESIA-BRASILANDIA  19562
3          999               04    CASA VERDE-CACHOEIRINHA  16151
4          999               05           SANTANA-TUCURUVI  22676
5          999               06            JACANA-TREMEMBE  13860
6          999               07  VILA MARIA-VILA GUILHERME  15956
7          999               08                       LAPA  21194
8          999               09                         SE  54320
9          999               10                    BUTANTA  25508
10         999               11                  PINHEIROS  33998
11         999               12               VILA MARIANA  30842
12         999               13                   IPIRANGA  29555
13         999               14                SANTO AMARO  17893
14         999               15                  JABAQUARA  13359
15         999               16              CIDADE ADEMAR  19191
16         999               17                CAMPO LIMPO  29544
17         999               18                M BOI MIRIM  26885
18         999               19          CAPELA DO SOCORRO  29704
19         999               20                PARELHEIROS  12983
20         999               21                      PENHA  28576
21         999               22         ERMELINO MATARAZZO   9164
22         999               23                 SAO MIGUEL  13826
23         999               24             ITAIM PAULISTA  13171
24         999               25                      MOOCA  31094
25         999               26  ARICANDUVA-FORMOSA-CARRAO  16255
26         999               27                   ITAQUERA  26479
27         999               28                 GUAIANASES  12208
28         999               29              VILA PRUDENTE  14679
29         999               30                 SAO MATEUS  24863
30         999               31          CIDADE TIRADENTES   8507
31         999               32                  SAPOPEMBA  10854

# Armazenamento

Finalmente, vamos exportar os dados em formato csv compatível com o Qlik e no padrão do excel para português do Brasil.

In [16]:
base_path = path.join('data_output', 'urbanismo')

if not path.exists(base_path):
    makedirs(base_path)

for name, df in [
                 ('indicador_domicilios_nao_ocupados', df),
                 ('indicador_domicilios_nao_ocupados_long', df_long),
                 ]:
    filepath = path.join(base_path, f'{name}.csv')

    df.to_csv(filepath,
              index=False,
              sep=';',
              decimal=',',
              encoding='latin1')