In [1]:
from os import path, makedirs
import pandas as pd

In [2]:
BASE_PATH = path.join("dados", "urbanismo")
CAMINHO_XLSX = path.join(BASE_PATH, "Resumo Painel.xlsx")

In [3]:
# Excluir anos 2019 e 2020 e 2021
df_loa = pd.read_excel(CAMINHO_XLSX,
              sheet_name='Loa Atende',
              dtype=str,
              skiprows=1).iloc[:, 1:]

df_loa = df_loa[~df_loa['ano'].isin(['2019', '2020', '2021'])]
df_loa

    ano     liquidado          pago
3  2022  141682050.88  141682050.88
4  2023  150735189.79  150735189.79
5  2024   180725312.8   180725312.8

In [4]:
df_atd = pd.read_excel(CAMINHO_XLSX,
              sheet_name='Atendimentos-Viagens',
              dtype=str)
df_atd

,area,empresa,ano,mes,data_meses,beneficiario,qtd_atendimentos_realizados,data
0,I,NORTE BUS,2022,jan,1,Usuario,5224,1/1/2022
1,I,NORTE BUS,2022,jan,1,Acompanhante,3892,1/1/2022
2,I,NORTE BUS,2022,fev,2,Usuario,7225,1/2/2022
3,I,NORTE BUS,2022,fev,2,Acompanhante,5765,1/2/2022
4,I,NORTE BUS,2022,mar,3,Usuario,9114,1/3/2022
...,...,...,...,...,...,...,...,...
931,VIII,ALFARODOBUS,2024,out,10,Acompanhante,2627,1/10/2024
932,VIII,ALFARODOBUS,2024,nov,11,Usuario,2923,1/11/2024
933,VIII,ALFARODOBUS,2024,nov,11,Acompanhante,2312,1/11/2024
934,VIII,ALFARODOBUS,2024,dez,12,Usuario,1989,1/12/2024
935,VIII,ALFARODOBUS,2024,dez,12,Acompanhante,1628,1/12/2024

In [5]:
output_dir = path.join('dados', 'urbanismo')
if not path.exists(output_dir):
    makedirs(output_dir)

for nome, df in [
    ('loa_atende', df_loa),
    ('atendimentos_viagens', df_atd),
]:
    filename = path.join(output_dir, nome)
    df.to_csv(f'{filename}.csv', sep=';', decimal=',', index=False)