In [1]:
import pandas as pd
import numpy as np
from os import path, makedirs

In [2]:
base_path = path.join('data_output', 'urbanismo')
if not path.exists(base_path):
    makedirs(base_path)
def _normalize_headers(cols):
    return [str(c).strip() for c in cols]
def _clean_df(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    df.columns = _normalize_headers(df.columns)
    for c in df.columns:
        if df[c].dtype == object:
            df[c] = df[c].astype(str).str.strip().replace({"": np.nan})
    return df

In [3]:
df_atd = pd.read_csv("dados/urbanismo/atendimentos_viagens.csv",
                     sep=";", dtype=str)

df_loa = pd.read_csv("dados/urbanismo/loa_atende.csv",
                     sep=";", dtype=str)

In [4]:
# Ajustar para formato iso data ex: AAAA-MM-DD
df_atd['data'] = pd.to_datetime(df_atd['data']).dt.strftime('%Y-%m-%d')
df_atd = _clean_df(df_atd)
df_atd

,area,empresa,ano,mes,data_meses,beneficiario,qtd_atendimentos_realizados,data
0,I,NORTE BUS,2022,jan,1,Usuario,5224,2022-01-01
1,I,NORTE BUS,2022,jan,1,Acompanhante,3892,2022-01-01
2,I,NORTE BUS,2022,fev,2,Usuario,7225,2022-01-02
3,I,NORTE BUS,2022,fev,2,Acompanhante,5765,2022-01-02
4,I,NORTE BUS,2022,mar,3,Usuario,9114,2022-01-03
...,...,...,...,...,...,...,...,...
931,VIII,ALFARODOBUS,2024,out,10,Acompanhante,2627,2024-01-10
932,VIII,ALFARODOBUS,2024,nov,11,Usuario,2923,2024-01-11
933,VIII,ALFARODOBUS,2024,nov,11,Acompanhante,2312,2024-01-11
934,VIII,ALFARODOBUS,2024,dez,12,Usuario,1989,2024-01-12
935,VIII,ALFARODOBUS,2024,dez,12,Acompanhante,1628,2024-01-12

In [5]:
df_loa

    ano     liquidado          pago
0  2022  141682050.88  141682050.88
1  2023  150735189.79  150735189.79
2  2024   180725312.8   180725312.8

In [6]:
base_path = path.join('data_output', 'urbanismo')

if not path.exists(base_path):
    makedirs(base_path)

for name, df in [
                 ('atendimentos_viagens', df_atd),
                 ('loa_atende', df_loa),
                 ]:
    filepath = path.join(base_path, f'{name}.csv')

    df.to_csv(filepath,
              index=False,
              sep=';',
              decimal=',',
              encoding='latin1')